---
import logo from '~/assets/img/logo.png';
import * as cfg from '~/site.config';

export interface Props {
	title: string;
	description?: string;
	thumbnail?: string;
	type: 'post' | 'page';
}

const page = {
	title: Astro.props.title,
	description: Astro.props.description,
	type: Astro.props.type,
	url: new URL(Astro.url, cfg.site.url),
	image: {
		square: logo.src,
		wide: Astro.props.thumbnail ? new URL(Astro.props.thumbnail, Astro.url): undefined,
	},
};
---

<title>
	{[page.title, cfg.site.title].filter(Boolean).join(' | ')}
</title>

<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content={cfg.me.name} />
{page.description && <meta name="description" content={page.description} />}
<link rel="canonical" href={page.url} />

<!-- OpenGraph tags -->
<meta property="og:title" content={page.title} />
<meta
	property="og:type"
	content={page.type === 'post' ? 'article' : 'website'}
/>
<meta property="og:url" content={page.url} />
<meta property="og:image" content={page.image.square} />
<meta property="og:description" content={page.description} />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={'@' + cfg.me.twitter} />
<meta name="twitter:creator" content={'@' + cfg.me.twitter} />
<meta name="twitter:title" content={page.title} />
<meta name="twitter:description" content={page.description} />
<meta name="twitter:image" content={page.image.wide} />
