---
import { type CollectionKey, getCollection } from 'astro:content';
import IconRSS from '~/assets/icons/rss.svg';
import ListEntry from '~/components/blog/ListEntry.astro';
import Layout from '~/layouts/base.astro';
import * as cfg from '~/site.config';

interface Props {
	title: string;
	description?: string;
	key: Extract<CollectionKey, 'blog' | 'micro'>;
}

const posts = await getCollection(Astro.props.key);
posts.sort((a, b) => +b.data.date - +a.data.date);
---

<Layout
	type="page"
	title={Astro.props.title}
	description={Astro.props.description}
>
	<div class="h-feed">
		<h1 class="p-name">{Astro.props.title}</h1>
		<p class="p-summary">
			<slot name="description">{Astro.props.description}</slot>
		</p>
		<p>
			<IconRSS /> Subscribe via <a href={`/feeds/${Astro.props.key}.xml`}
			>RSS</a>
			or
			<a href={`/feeds/${Astro.props.key}.json`}>JSON</a> feed
		</p>
		<link class="u-url" href={Astro.url} />
		<data class="p-author" value={cfg.me.name}></data>

		<ul>
			{posts.map((p) => (
				<li>
					<ListEntry
						title={p.data.title}
						description={p.data.description}
						date={p.data.date}
						url={'/p/' + p.id}
					/>
				</li>
			))}
		</ul>
	</div>
</Layout>
